# rebar create template=stdXXX で生成される無視すべきファイル
deps

# Erlang/rebarでgit管理すべきでないファイル
.eunit
*.o
*.beam
*.plt
*.dump
*.app
doc/*
!doc/overview.edoc
!doc/*.md
.rebar

# Vimでできる必要ないファイル
*.swp
tags

# その他
*~
